
{% for item in items %}
  <p><strong><b>Checkpoints</b></strong> &nbsp <strong><b>Open Times</b></strong> &nbsp <strong><b>Close Times</b></strong></p>
	  
  <p> {{ item.Checkpoint }}km &nbsp&nbsp  {{item.Open_Times}} &nbsp&nbsp {{item.Close_Times}} <p>
{% endfor %}