<h1> No items to display<h1>
<h3> Control points, open times and close times must have been previously submitted before clicking display.<br> 
	Please follow this link to try submitting again http://0.0.0.0:5000/index</h3>